/*=============== BASE ===============*/
html {
   scroll-behavior: smooth;
  //  scroll-padding-top: 75px;
}
 
::-webkit-scrollbar {
   display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}
 
body {
  max-width: 100vw;
  height: 100%;
  width: 100%;
  line-height: 1.7;
  overflow-x: hidden;
  background-color: #121212;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: $lighter-pink;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::selection {
  color: hsl(0deg, 0%, 100%);
  background-color: $pastel-pink;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: $pastel-pink;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

.App {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;    
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/Twinkle_Stars.svg);

  .loading {
    position: relative;
    width: 240px;
    height: 240px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid $pastel-pink;
    border-radius: 50%;
    animation: spin 1400ms ease-in-out infinite;
  }
  
  .loader {
    background-image: url("../assets/img/rocket-logo.svg");
    position: absolute;
    width: 200px;
    height: 200px; 
  }
  
  @keyframes spin {
    0%  { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}