 /* ========== NAVBAR ========== */ 
 #navbar-main {
	 box-sizing: border-box;
	 display: flex;
	 position: fixed;
	 top: 0;
	 z-index: 9999;
	 width: 100%;
	 color: $light;
	 
	 &.scrolled {
		background-color: #121212;
	}

	#navbar {
		flex: 1 1 auto;
		z-index: 198;
		font-size: 16px;
		line-height: 1em;
		display: block;
		zoom: 1;

		#navbelt {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0 2rem;
			width: 95%;

			.brand {
				#logo {
					color: $light;
					text-shadow: 1px 1px $light-pink;
					font-size: 1.6rem;
					text-transform: uppercase;
					letter-spacing: 1px;
					user-select:none;
					-webkit-user-drag: none;
					-webkit-user-select: none;
					-moz-user-select: none;

					img {
						width: 80px;
						background-color: transparent;
					}

					&:hover, 
					&:active {
						transform: translateX(-4px);
					}
				}
			}
			.cta {
            display: flex;
				flex-direction: row;
				align-items: center;
            padding: 0 1rem;
            gap: 1.8rem;
				transition: $transition-slow;

				.menu {
					display: flex;
					flex-direction: row;
					gap: 1rem;
					transition: $transition-slow;
				}
				
				.hide {
					display: none;
					transition: $transition-slow;
						.link {
						&:hover {
							color: $primary;
						}
					}
				}

				.link {
					color: $light;
					padding: 6px 12px;
					font-size: 1.2rem;
					font-weight: 500;
					transition: $transition-slow;
					text-transform: uppercase;
					
					&:hover {
						text-decoration: none;
						color: $pastel-pink;
						background-color: #222122;
						border-radius: 4px;
						transition: $transition-slow;
					}

					&:active {
						opacity: 1;
					}

					&.contact {
						padding: 6px 12px;
						border-radius: 4px;
						border: 2px solid $pastel-pink;
						user-select: none;
						-webkit-user-select: none;
						-moz-user-select: none;

						&:hover {
							border-color: $light;
							background-color: transparent;
						}
					}
				}

				.icon {
					color: $light;
				}

				@media screen and (max-width: 720px) {
					.btn {
						display: none;
					}
					.hide {
						display: block;
						.link {
							color: $light;
						}
					}
					.logout {
						color: $light;
						padding: 0 2rem 0 1rem;
					}
				}
				@media screen and (max-width: 500px) {
					gap: 0.7rem;
					padding: 0;
				}
			}
			@media screen and (max-width: 680px) {
				padding: 0 0 0 2rem;
			}
			@media screen and (max-width: 900px) {
				width: 98%;
				.cta {
					gap: 1.1rem;
				}
			}
			@media screen and (min-width: 1600px) {
				width: 85%;
			}
		}
	}
}