/*======== FAMILY FONTS ========*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap");
:root {
  /*====== TOASTIFY ======*/
  --toastify-color-error: #f3b1c7 !important;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #f3b1c7
  );
}

/********* VARIABLES *********/
/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

body {
  max-width: 100vw;
  height: 100%;
  width: 100%;
  line-height: 1.7;
  overflow-x: hidden;
  background-color: #121212;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: #f89fcc;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::selection {
  color: hsl(0deg, 0%, 100%);
  background-color: #fcb6d1;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: #fcb6d1;
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  place-items: center;
}

.d-grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.mg-auto {
  margin: 0 auto;
}

.text-dark {
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

a {
  text-decoration: none;
  color: rgba(160, 43, 101, 0.9);
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* ========== NAVBAR ========== */
#navbar-main {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  color: rgb(255, 255, 255);
}
#navbar-main.scrolled {
  background-color: #121212;
}
#navbar-main #navbar {
  flex: 1 1 auto;
  z-index: 198;
  font-size: 16px;
  line-height: 1em;
  display: block;
  zoom: 1;
}
#navbar-main #navbar #navbelt {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
  width: 95%;
}
#navbar-main #navbar #navbelt .brand #logo {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #f78ac0;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#navbar-main #navbar #navbelt .brand #logo img {
  width: 80px;
  background-color: transparent;
}
#navbar-main #navbar #navbelt .brand #logo:hover, #navbar-main #navbar #navbelt .brand #logo:active {
  transform: translateX(-4px);
}
#navbar-main #navbar #navbelt .cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  gap: 1.8rem;
  transition: all 600ms ease;
}
#navbar-main #navbar #navbelt .cta .menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: all 600ms ease;
}
#navbar-main #navbar #navbelt .cta .hide {
  display: none;
  transition: all 600ms ease;
}
#navbar-main #navbar #navbelt .cta .hide .link:hover {
  color: rgba(160, 43, 101, 0.9);
}
#navbar-main #navbar #navbelt .cta .link {
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 600ms ease;
  text-transform: uppercase;
}
#navbar-main #navbar #navbelt .cta .link:hover {
  text-decoration: none;
  color: #fcb6d1;
  background-color: #222122;
  border-radius: 4px;
  transition: all 600ms ease;
}
#navbar-main #navbar #navbelt .cta .link:active {
  opacity: 1;
}
#navbar-main #navbar #navbelt .cta .link.contact {
  padding: 6px 12px;
  border-radius: 4px;
  border: 2px solid #fcb6d1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#navbar-main #navbar #navbelt .cta .link.contact:hover {
  border-color: rgb(255, 255, 255);
  background-color: transparent;
}
#navbar-main #navbar #navbelt .cta .icon {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 720px) {
  #navbar-main #navbar #navbelt .cta .btn {
    display: none;
  }
  #navbar-main #navbar #navbelt .cta .hide {
    display: block;
  }
  #navbar-main #navbar #navbelt .cta .hide .link {
    color: rgb(255, 255, 255);
  }
  #navbar-main #navbar #navbelt .cta .logout {
    color: rgb(255, 255, 255);
    padding: 0 2rem 0 1rem;
  }
}
@media screen and (max-width: 500px) {
  #navbar-main #navbar #navbelt .cta {
    gap: 0.7rem;
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  #navbar-main #navbar #navbelt {
    padding: 0 0 0 2rem;
  }
}
@media screen and (max-width: 900px) {
  #navbar-main #navbar #navbelt {
    width: 98%;
  }
  #navbar-main #navbar #navbelt .cta {
    gap: 1.1rem;
  }
}
@media screen and (min-width: 1600px) {
  #navbar-main #navbar #navbelt {
    width: 85%;
  }
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.menus .menu-items {
  position: relative;
  font-size: 14px;
}
.menus .menu-items a {
  display: block;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 0.7rem 0.7rem;
  text-align: left;
  text-decoration: none;
}
.menus .menu-items a:hover {
  background-color: #CB5FB3;
}
.menus .menu-items a[href="/#home"] {
  padding-top: 0.8rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.menus .menu-items a[href="/#contact"] {
  padding-bottom: 0.8rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.menus .menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 0.7rem 1.8rem;
}
.menus .menu-items .arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}
.menus .menu-items .dropdown {
  position: absolute;
  right: 0;
  left: auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 1rem;
  z-index: 99999;
  min-width: 7rem;
  text-align: center;
  list-style: none;
  background-color: #f89fcc;
  border-radius: 0.5rem;
  display: none;
}
.menus .menu-items .dropdown.show {
  display: block;
}
.menus .menu-items .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.banner {
  box-sizing: border-box;
  align-items: center;
  place-content: center;
  z-index: 9999;
  height: 100vh;
  padding: 260px 0 100px 0;
  background-image: url("../assets/img/banner.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .container {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  justify-content: space-evenly;
  transition: all 600ms ease;
}
.banner .container .row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 85%;
}
.banner .container .row .left {
  width: 80%;
  transition: all 600ms ease;
  max-width: 600px;
}
.banner .container .row .right {
  display: flex;
  place-content: end;
  transition: all 600ms ease;
}
.banner .container .row .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, #fca0c3 -5.91%, #f373b3 18.58%, #d868c0 71.58%, #e684d0 111.58%);
  border-radius: 4px;
  border: 2px solid #fcb6d1;
  font-size: 20px;
  margin-bottom: 1.1rem;
  display: inline-block;
  transition: all 600ms ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.banner .container .row h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1.8px 2px #f78ac0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  transition: all 600ms ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.banner .container .row p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  transition: all 600ms ease;
}
.banner .container .row button {
  align-items: center;
  padding: 0.6rem 1.2rem;
  margin-top: 60px;
  color: rgb(255, 255, 255);
  background-color: #191819;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  border-radius: 4px;
  border: 2px solid #fcb6d1;
  text-transform: uppercase;
  transition: all 600ms ease;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.banner .container .row button:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: #e98fb0;
  border-radius: 4px;
  transition: all 600ms ease;
  transform: translateY(-4px);
}
.banner .container .row button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  transition: all 600ms ease;
}
.banner .container .row button svg:hover {
  margin-left: 25px;
}
.banner .container .row img {
  width: 80%;
  animation: float 4s ease-in-out infinite;
  transition: all 400ms ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.banner .container .row .txt-rotate {
  text-shadow: 1.8px 2px #CB5FB3;
}
.banner .container .row .txt-rotate .wrap {
  border-right: 0.08em solid #666;
}
@media screen and (max-width: 1200px) {
  .banner .container .row h1 {
    font-size: 2.8rem;
  }
  .banner .container .row p {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .banner .container .row {
    gap: 2rem;
    flex-direction: column-reverse;
  }
  .banner .container .row .row {
    display: flex;
    place-content: center;
    align-items: center;
  }
  .banner .container .row h1 {
    font-size: 2.4rem;
  }
  .banner .container .row p {
    font-size: 15px;
  }
  .banner .container .row .right {
    display: flex;
    place-content: end;
  }
  .banner .container .row .right img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .banner .container .row {
    gap: 3rem;
  }
  .banner .container .row .left {
    align-self: center;
    text-align: center;
  }
  .banner .container .row .left .tagline {
    font-size: 18px;
    margin-bottom: 1.4rem;
  }
  .banner .container .row .left h1 {
    font-size: 2.2rem;
  }
  .banner .container .row .left p {
    margin-top: 1.2rem;
    width: 100%;
  }
  .banner .container .row .left button {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }
  .banner .container .row .right {
    display: flex;
    place-content: center;
  }
}
@media screen and (max-width: 900px) {
  .banner {
    padding: 100px 0 100px 0;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#register .container,
#login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  font-size: 1rem;
}
#register .container h1,
#login .container h1 {
  background-clip: text;
  background-image: linear-gradient(to right, rgba(160, 43, 101, 0.9), #f572b3, #f572b3, rgba(160, 43, 101, 0.9));
  color: transparent;
  text-shadow: 12px 12px 12px rgb(255, 255, 255);
  margin-bottom: 1.4rem;
  transition: all 600ms ease;
}
@media screen and (max-width: 984px) {
  #register .container h1,
#login .container h1 {
    font-size: 1.8rem;
  }
}
#register .container .alert-danger,
#login .container .alert-danger {
  color: rgb(226, 85, 85);
  font-size: 0.9rem;
  font-weight: 500;
}
#register .container .form,
#login .container .form {
  z-index: 6;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}
#register .container .form .form-group .form-input,
#login .container .form .form-group .form-input {
  background: rgba(247, 138, 192, 0.6);
  border: 2px solid transparent;
  text-align: center;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 4px;
  caret-color: #f89fcc;
}
#register .container .form .form-group .form-input::placeholder,
#login .container .form .form-group .form-input::placeholder {
  color: rgb(94, 94, 94);
}
#register .container .form .form-group .error,
#login .container .form .form-group .error {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(226, 85, 85);
}
#register .container .form .btn,
#login .container .form .btn {
  color: rgb(255, 255, 255);
  background-color: #f89fcc;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 600ms ease;
  cursor: pointer;
}
#register .container .form .btn:hover, #register .container .form .btn:active,
#login .container .form .btn:hover,
#login .container .form .btn:active {
  transform: translateY(-4px);
}
#register .account,
#login .account {
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register .account a,
#login .account a {
  font-weight: 500;
  transition: all 600ms ease;
  padding: 0.1rem 0.6rem;
}
#register .account a:hover,
#login .account a:hover {
  color: rgb(255, 255, 255);
  background: #f89fcc;
  border-radius: 4px;
}
#register .infos img,
#login .infos img {
  position: absolute;
  top: 650px;
  left: 0;
  margin: 0 auto;
  z-index: 2;
  opacity: 90%;
  height: 288px;
  transition: all 600ms ease;
}
@media screen and (max-width: 984px) {
  #register .infos img,
#login .infos img {
    top: 700px;
    left: 0;
    height: 222px;
  }
}
#register img,
#login img {
  position: absolute;
  top: 600px;
  right: 0;
  z-index: 2;
  opacity: 90%;
  height: 320px;
  transition: all 600ms ease;
}
@media screen and (max-width: 984px) {
  #register img,
#login img {
    top: 740px;
    height: 200px;
  }
}

.login .container {
  margin-top: 4rem;
}

/*# sourceMappingURL=styles.css.map */
